<div class="food-list-container">
  <div class="header">
    <h2 class="title">Lista de Alimentos</h2>
    <button class="add-food-button" (click)="addFood()">
      Añadir Nuevo Alimento
    </button>
  </div>
  <div class="food-list-wrapper">
    <div class="food-grid">
      <div class="food-card" *ngFor="let food of foods">
        <h3 class="food-name">{{ food.name }}</h3>
        <p>
          <strong>Carbohidratos:</strong> {{ food.carbohydratesPerPortion }}g
        </p>
        <p><strong>Calorías:</strong> {{ food.calories }}</p>
        <p><strong>Proteínas:</strong> {{ food.protein }}g</p>
        <p><strong>Grasas:</strong> {{ food.fat }}g</p>
      </div>
    </div>
  </div>
</div>
