<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="hcinfo" href="/tabs/hcinfo">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>HC info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="foods" href="/tabs/foods">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Foods</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user" href="/tabs/user">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
