$primary-color: #e0c66c; // Amarillo apagado
$hover-color: #d4b45a;
$text-color: #4a4a4a;
$button-color: #f5b700;
$button-hover: #e0a600;
$register-color: #a66c00;
$border-radius: 12px;

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;

  .login-box {
    background-color: $primary-color;
    padding: 2rem;
    border-radius: $border-radius;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 350px;

    h2 {
      color: $text-color;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    .input-group {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 1rem;

      label {
        font-size: 0.9rem;
        color: $text-color;
        margin-bottom: 0.3rem;
      }

      input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: $border-radius;
        font-size: 1rem;
        transition: all 0.3s ease;

        &:focus {
          border-color: $hover-color;
          outline: none;
        }
      }
    }

    .login-button {
      background: linear-gradient(135deg, #f5b700, #e0a600);
      color: white;
      font-weight: bold;
      padding: 14px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      width: 100%;
      font-size: 1rem;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease;

      &:hover {
        background: linear-gradient(135deg, #e0a600, #c98f00);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(1px);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
      }
    }

    .register-link {
      font-size: 0.9rem;
      margin-top: 1rem;
      color: $text-color;

      .register-button {
        color: $register-color;
        font-weight: bold;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: $border-radius;
        transition: color 0.3s ease;

        &:hover {
          color: darken($register-color, 10%);
          text-decoration: underline;
        }
      }
    }
  }
}
